---
name: Tests

on:
  push:
    branches:
      - main
      - release/*
  pull_request:
    branches:
      - main

jobs:
  tests:
    env:
      MIX_ENV: test
      MJML_BUILD: true
    runs-on: ubuntu-latest
    name: "[${{matrix.otp}}/${{matrix.elixir}}] Tests on mjml_nif [OTP/Elixir]"
    strategy:
      fail-fast: false
      matrix:
        otp: [22.2, 23.3, 24.3, 25.0]
        elixir: [1.11.4, 1.12.3, 1.13.4]
        exclude:
          - otp: 23
            elixir: 1.9.4
          - otp: 25
            elixir: 1.11.4
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - name: Cache hex deps
        id: mix-cache
        uses: actions/cache@v2
        with:
          path: |
            deps
            _build
            !_build/*/lib/mjml
          key: ${{ runner.os }}[${{ matrix.otp }}/${{ matrix.elixir }}]-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
      - run: mix deps.get
      - run: mix deps.compile
      - run: mix compile --warnings-as-errors
        env:
          RUST_BACKTRACE: 1
      - run: mix test
